{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@nestjs[/-](.*)$",
        "@prisma/(.*)$",
        "^@(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
