html
  head
    meta(charset="UTF-8")
    title אישור דוא"ל
  body
    h1 אישור דוא"ל
    p הזן את הקוד הבא כדי לאשר את כתובת הדוא"ל שלך:
    h2= code

    p(align="right") תודה שנרשמתם! על מנת להשלים את התהליך, אנא הזינו את הקוד המופיע למעלה באתר כדי לאשר את כתובת הדוא"ל שלכם.
