html
  head
    meta(charset="UTF-8")
    title איפוס סיסמה
  body
    h1 איפוס סיסמה
    p הזן את הקוד הבא כדי לאפס את הסיסמה שלך:
    h2= code

    p(align="right") אם לא ביקשת לאפס את הסיסמה, פשוט התעלם מהודעה זו.
