html
  head
    meta(charset="UTF-8")
    title Восстановление пароля
  body
    h1 Восстановление пароля
    p Введите следующий код для сброса пароля:
    h2= code

    p Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.
